body {
    background-color: #FFFFFF
}
header {
    text-align: center;
}
td {
    background-color: rgb(238, 238, 238);
    text-align: center;
}
table {
    width: 90%;
    text-align: center;
    margin-left:auto; 
    margin-right:auto;  
}
footer {
    text-align: center;
    font-size: small;
    padding: 10px;
}
